#hand-image {
position: fixed;
top: 0px;
width: 100vw;
z-index: -1;
opacity: 80%;
}

#canvas {
    position: fixed;
    top: 0px;
    z-index: -1;
}

.humans-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 50vh;
    margin: auto;
    margin-top: 18vh;
    background-color: #e4dee099;
    margin-bottom: 18vh;
}

.human-text-1 {
    font-size: 2vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 1vh;
    line-height: 6vh;
}

.human-text-2 {
    font-size: 1vw;
}

.human-text-3 {
    text-align: center;
    width: 56vw;
    display: block;
    margin: auto;
    padding-top: 10vw;
    font-size: 2vw;
    line-height: 6vh;
    margin-bottom: 7vw;
}

.human-text-2 > a {
    text-decoration: none;
}
.hope-container {
    background-color:  #e4dee0ab;
    padding-bottom: 8vw;
}

.listing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    background: #e4dee0;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1vw;
}

.listing-text {
    padding: 2vw;
    width: 60vw;
    background: #e4dee0;
}

.listing-text div, .listing-text a {
    padding: 0.5vw;
    margin-bottom: 1vw;
}


.listing-text a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
}


.listing-container > img {
    width: 15vw;
}