#intro-image {
    position: fixed;
    top: 0px;
    width: 120vw;
    z-index: 0;
}


#intro-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text {
    width: 70vw;
    margin-top: 7vw;
    font-size: 1.5vw;
    line-height: 2vw;
    margin-bottom: 2vw;
    z-index: 1;
}

.pagelinks {
    padding: 1vw;
    margin-top: 2vw;
    background: #ffffff87;
    display: block;
    cursor: pointer;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    z-index: 1;
}
