/* .ode-container {
    position: relative;
    height: 100vh;
    
}

#ode > div {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quote {
    font-size: 5vh;
    padding-left: 45vh;
    padding-right: 45vh;
    line-height: 6vh;
}

#author {
    font-size: 2vh;
    padding: 2vh;
    text-align: right;
} */

