@import './reset.css';
@import './rings.css';


h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 6vh;
  display: block;
  text-align: center;
  letter-spacing: 0.35rem;
  padding-top: 5vh;
}


#all-contents {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 70%;
}


