@import './reset.css';
@import './rings.css';


h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vh;
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}


