

h3 { 
    font-size: 5vh;
    text-align: center;
    padding: 1vw;
}

#tree-grid-1, #tree-grid-2{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
}


.grid-piece > img {
    height: 18vh;
    cursor: pointer;
    padding-left: 2vw;
    padding-right: 2vw;
}

.grid-piece > p { 
    font-size: 2vh;
    text-align: center;
    padding: 1vh;
}

#profile-text { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    text-transform: none;
    letter-spacing: 2px;
    line-height: 2vh;
    padding: 4vh;
    padding-left: 14vw;
    padding-right: 14vw;
    background-color: #f4eee9;
    height: 17vh;   
}

#profile-text > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    line-height: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
}

#start-text {
    font-size: 2vh;
    font-family: 'Forum', cursive;
    line-height: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    ;
}
