.halfCircle:hover  {
    fill: #FAEDCD;
    opacity: 0.40;
}


.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 35%;
    margin: auto;

}

#map-container {
    display: flex;
    align-items: flex-end;

}

.svg-content {
    height: 50%;
    margin-top: 3vh;
}

#tip1 {
    width: 50%;
    height: 30vh;
    overflow: scroll;
    
}


#tip-text {
    font-family: "Roboto", sans-serif;
    text-align: left;
    padding: 1vh;
    margin-top: 1vh;
    line-height: 1.2;


}

#tip-link > a { 
    display: block;
    text-decoration: none;
    font-size: 2vh;
    outline: none;
    color: black;
    background-color: #DBE1BC;
    padding: 0.75vw;
    text-align: center;
    margin-top: 2vh;
  
}


