.halfCircle:hover  {
    fill: #FAEDCD;
    opacity: 0.40;
}


.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 35%;
    margin: auto;

}

#map-container {
    display: flex;
    align-items: flex-end;

}

.svg-content {
    height: 50%;
}

#tip1 {
    width: 70%;
    height: 30vh;
    overflow: scroll;
    padding: 3vh;
    
}


#tip-text {
    text-align: left;
    padding: 1vh;
    line-height: 1.2;
}

#tip-text > p {
    font-family: 'Forum', cursive;
    font-style: none;
    text-transform: none;
}

#tip-link > a { 
    display: block;
    text-decoration: none;
    font-size: 2vh;
    outline: none;
    color: black;
    background-color: #DBE1BC;
    padding: 0.75vw;
    text-align: center;
    margin-top: 2vh;
  
}

#ring-label {
    font-size: 2vh;
    text-align: center;
    margin-bottom: 2vh;
    margin-right: 2vw;
    font-family: "forum", cursive;
    line-height: 2.5vh;
    padding: 1vh;
    /* border: 1px solid black; */
    background-color: #f8f5f0;



    
}


