/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1%;
    transition: 0.3s;
    font-size: 2vh;
    background-color: #DBE1BC;
    margin: 1%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(155, 155, 105);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(103, 152, 110);
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}