.tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    font-size: 1.7vh;
    border-right: 1px solid black;
}

.tab button:first-child {
    border-left: 1px solid black;
}

.tab button:hover {
    background-color: #c5cdbda3;
}

.tab button.active {
    font-weight: 600;
}

.tabcontent {
    display: none;
    border-top: none;
}