@import './styles/reset.css';
@import './styles/timeline.css';
@import './styles/oldest_tree.css';
@import './styles/tabs.css';
@import './styles/intro_page.css';


* {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.12cm;
}

body {
    background-color: #e4dee0;
    font-family: "Forum", cursive;
}

.nav-bar {
    background-color: #e4dee099;
}

#icons-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 7vh;
    margin: auto;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    overflow: hidden;

}

#icons-bar a, #icons-bar h1 {
    padding: 0.5%;
}

#icons-bar img {
    height: 5vh;
}

#page-title {
    display: block;
    font-family: 'Forum', cursive;
    font-weight: 500;
    font-size: 6vh;
    text-align: left;
    letter-spacing: 0.35rem;
    margin-left: 2%;
    width: 80%;
    margin-top: -3.5%;
}



#all-contents {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    box-sizing: border-box;
}



