@import './styles/reset.css';
@import './styles/timeline.css';
@import './styles/intro_page.css';
@import './styles/tabs.css';
@import './styles/forest.css';
@import './styles/hands.css';


* {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.12cm;
}

body {
    background-color: #e4dee0;
    // font-family: "Forum", cursive;
}

.nav-bar {
    background-color: #e4dee099;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sections {
position: relative;
display: inline-block;
width: 250px;
top: 0px;
z-index: 90;
}

.step {
margin-bottom: 200px;
}


.ode-container {
    display: block;
    position: relative;
    width: 100vw;
}

.header-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: 3vw;
}

.quote-container {
    position: absolute;
    top: 17vw;
    left: 25vw;
}

#quote {
    font-size: 2.25vw;
    line-height: 3vw;
    width: 50vw;
    text-align: center;
}

#author {
    font-size: 1vw;
    padding: 1vw;
    text-align: center;
}

.ode-image {
    display: block;
    width: 100vw;
}

#icons-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#icons-bar img {
    height: 5vh;
    padding: 1vw;
}

#page-title {
    // display: flex;
    // align-items: center;
    // justify-content: start;
    font-family: 'Forum', cursive;
    font-weight: 500;
    font-size: 6vh;
    text-align: left;
    letter-spacing: 0.35rem;
    padding: 1vw;
}

// 2nd page


#all-contents {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    box-sizing: border-box;
}



