@import './styles/reset.css';
@import './styles/rings.css';
@import './styles/oldest-tree.css';
@import './styles/tabs.css';
@import './styles/intro_page.css';

body {
    background-color: #e4dee0;
}

#icons-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 7vh;
    margin: auto;
    padding-top: 1%;
    padding-right: 1%;

}

#icons-bar a {
    padding: 0.5%;
}

#icons-bar img {
    height: 5vh;
}

h1 {
    display: block;
    font-family: 'Forum', cursive;
    font-weight: 500;
    font-size: 6vh;
    text-align: left;
    letter-spacing: 0.35rem;
    margin-left: 2%;
    width: 80%;
    margin-top: -2%;
}



#all-contents {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    box-sizing: border-box;
}

#map-container {
    width: 80%;
    display: block;
}


#map-container path {
    fill: #548567;
    width: 500px;
    cursor: pointer;
}

#map-container path:hover {
    cursor: pointer;
}

#tip2 {
    box-shadow: 5px 5px 10px #999;
    background-color: #fcf5e3;
}

#tip2>p {
    font-size: 1.5vh;
    padding: 1vh;
    line-height: 1;
    text-align: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2cm;


}